<nav class="dm-header" [ngClass]="{'style-1': style === 1, 'style-2': style === 2}">
	<span class="action-button" (click)="goBack()" *ngIf="backArrow">
		<img src="assets/images/flecha-atras.png" alt="">
	</span>
	<h4 class="page-title">
		{{title}}
	</h4>
</nav>
