.dm-header{
	display: block;
	width: 100vw;
	padding: 18px 12px;
	border-radius: 3em;
	margin-top: 20px;
	margin-bottom: 5rem;
	position: fixed;
	z-index: 1500;
	&::after{
		content: '';
		display: block;
		position: absolute;
		bottom: -39px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 0px;
		height: 0px;
		border: 20px solid transparent;
	}
	.page-title{
		text-align: center;
		font-family: 'Oswald';
		text-transform: uppercase;
		font-size: 1em;
		margin:0;
	}
	&.style-1{
		background: #333;
		&::after{
			border-top-color: #333;
		}
		.page-title{
			color: #f0ebd7;
		}
	}
	&.style-2{
		background: #23b364;
		&::after{
			border-top-color: #23b364;
		}
		.page-title{
			color: #3a3a3a;
		}
	}
	.action-button{
		width: 40px;
		display: block;
		position: absolute;
		left: 14px;
		top: 50%;
		transform: translateY(-50%);
		transition: 0.1s ease-in;
		img{
			width: 100%;
		}
		&:hover{
			cursor: pointer;
			left: 10px;
		}
	}
}
// MEDIA QUERIES

// Phones, sm
@media screen and (min-width: 576px) {

}
// Tablets, md
@media screen and (min-width: 768px) {
	.dm-header{
		padding: 25px 12px;
		width: 100%;
		position: relative;
		.page-title{
			font-size: 1.2em
		}
	}
}
// Laps, desks, lg
@media screen and (min-width: 992px) {

}
//Desktop, xl
@media screen and (min-width: 1200px) {

}
