<h2 class="block-name" [ngClass]="{'locked': block.access.locked}" (click)="!block.access.locked && goTo(block.id)">
	<grade [grade]="block.grade" [size]="'1em'" [inline]="true" [show]="block.access.locked || block.grade > 0"></grade>
	{{block.name}}
</h2>
