.block-name{
	font-family: 'Oswald';
	font-size: 1.6em;
	text-transform: uppercase;
	color: #00ff72;
	border-bottom: 3px solid rgba(0, 255, 114, 0.4);
	padding: 10px;
	cursor: pointer;
	position: relative;
	padding-left: 50px;
	&.locked {
		color: #535253;
		border-color: #535253;
		cursor: not-allowed;
		.fa{
			color: #535253;

		}
	}
	grade{
		position: absolute;
		top: 6px;
		left: 4px;
		width: 30px;
		text-align: center;
	}
}
// MEDIA QUERIES

// Phones, sm
@media screen and (min-width: 576px) {

}
// Tablets, md
@media screen and (min-width: 768px) {
	.block-name{
		font-size: 2.2em;
	}
}
// Laps, desks, lg
@media screen and (min-width: 992px) {

}
//Desktop, xl
@media screen and (min-width: 1200px) {

}
