@import "../../../variables";
$background-dark: #222;
.module {
	width: 100%;
	height: 100vh;
	background-color: #ebeae6;
	position: relative;
	z-index: 0;
	margin: 0;
	overflow: hidden;
	transition: all 0.2s ease-in;

	&::before {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: -1;
		opacity: 0.4;
		background-image: url($assets-path + 'images/patron.png');
		background-size: 50px;
		// background-attachment: fixed;
		content: '';
		display: block;
	}

	&.content-fact {
		background-color: $background-dark;
	}

	&.content-video,
	&.content-video-tip,
	&.content-pdf,
	&.content-text-pdf,
	&.evidence {
		background-color: $background-dark;
	}

	&.content-exam {
		background-color: #23b364;
		.swiper-button-prev, .swiper-button-next {
			filter: saturate(0%) brightness(92%) contrast(1000%);
		}
	}

	&.first-content {
		background-color: $background-dark;
	}

	[class*="col-"] {
		padding-bottom: 50px;
	}

	.row {
		height: 100vh;
		overflow-y: auto;
	}

	swiper{
		width: calc(100% - 1px) !important;
	}

	.swiper-button-prev, .swiper-button-next {
		position: fixed;
		background: none !important;
		background-image: url($assets-path + "images/flecha-abajo.png") !important;
		background-repeat: no-repeat !important;
		background-position: center right !important;
		background-size: contain !important;
		width: 60px !important;
		height: 60px !important;
		filter: drop-shadow(0px 1px 4px #000);
	}
	.swiper-button-prev{
		transform: rotate(90deg) !important;
		left: -15px;
	}
	.swiper-button-next{
		transform: rotate(-90deg) !important;
		right: -15px;
	}
	.swiper-slide{
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
	}
	.swiper-slide-active{
		opacity: 1;
	}
}

// MEDIA QUERIES

// Phones, sm
@media screen and (min-width: 576px) {

}
// Tablets, md
@media screen and (min-width: 768px) {

}
// Laps, desks, lg
@media screen and (min-width: 992px) {
	.module{
		.swiper-button-prev,
		.swiper-button-next{
			filter: none;
		}
		.swiper-button-prev{
			position: absolute !important;
			transform: rotate(90deg) !important;
			left: -50px;
		}
		.swiper-button-next{
			position: absolute !important;
			transform: rotate(-90deg) !important;
			right: -50px;
		}
	}
}
//Desktop, xl
@media screen and (min-width: 1200px) {

}
