<div class="module" [ngClass]="[class]">
	<div class="row justify-content-center">
		<user-menu [style]="styleMenu"></user-menu>
		<div class="col-sm-12 col-xs-12 col-md-8 col-lg-8 col-xl-5">
			<dm-header [style]="style" [title]="currentModule?.name"></dm-header>
			<div class="margin-separator"></div>
			<swiper #swiper>
				<div class="swiper-wrapper">
					<div class="swiper-slide" *ngFor="let item of contents">
						<content-view [content]="item"></content-view>
					</div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
				<!-- Add Arrows -->
			</swiper>
			<div class="swiper-button-next"
			(click)="slideNext($event)"
			*ngIf="contents.length > 1 && currentIndex < (contents.length - 1)"></div>
			<div class="swiper-button-prev"
			(click)="slidePrev($event)"
			*ngIf="contents.length > 1 && currentIndex > 0"></div>
		</div>
	</div>
</div>
