<button class="button-pdf" (click)="pdfAction()" [disabled]="loading">
	<span class="media-container">
		<img src="assets/images/pdf.png" alt="">
	</span>
	{{loading ? 'Enviando...' : text}}
</button>
