.button-pdf{
	// Fonts
	font-family: 'Oswald';
	font-size: 1.2em;
	text-align: left;

	// Styling
	background: #49423c;
	color: #e7ddbe;
	outline: none;
	border: none;
	cursor: pointer;

	// Spacing
	padding: 10px;
	padding-left: 70px;
	margin: 0 auto;
	margin-bottom: 15px;

	// Disposition
	position: relative;
	display: block;
	width: 60%;

	// Transition
	transition: all 0.2s ease-in-out;
	&:hover{
		background: #e7ddbe;
		color: #49423c;
		img{
			filter: contrast(50%) brightness(90%);
		}
	}
	&[disabled]{
		opacity: 0.5;
		cursor: not-allowed;
		&:hover{
			background: #49423c;
			color: #e7ddbe;
			img{
				filter: none;
			}
		}
	}
	.media-container{
		width: 60px;
		position: absolute;
		top: 50%;
		left: 6px;
		transform: translateY(-50%);
		img {
			width: 100%;
			transition: all 0.2s ease-in-out;
		}
	}
}
// MEDIA QUERIES

// Phones, sm
@media screen and (min-width: 576px) {

}
// Tablets, md
@media screen and (min-width: 768px) {
	.button-pdf{
		padding: 20px;
	    padding-left: 77px;
	    font-size: 1.4em;
	    width: 80%;
	}
}
// Laps, desks, lg
@media screen and (min-width: 992px) {
	.button-pdf{
		padding: 20px;
		padding-left: 77px;
		font-size: 1.6em;
		width: 60%;
	}
}
//Desktop, xl
@media screen and (min-width: 1200px) {

}
