<section class="module-view-wrapper" [ngClass]="{'locked': data.access.locked}">
	<div class="module-view" (click)="!data.access.locked && navigate()">
		<span class="module-index">{{moduleIndex}}:</span> <span class="module-name">{{moduleName}}</span>
		<p class="module-description">{{moduleDescription}}</p>
	</div>
	<img src="assets/images/separator-up.png" alt="" width="100%" *ngIf="!data.access.locked">
	<img src="assets/images/separador-cafe-arriba.png" alt="" width="100%" *ngIf="data.access.locked">
</section>
