:host{
	// .module-view{
		.module-index{
			color: #007e47;
			font-family: 'Oswald';
			text-transform: uppercase;
			font-size: 1.2em;
		}
		.module-name{
			color: #3cc263;
			font-family: 'Oswald';
			font-size: 1.2em;
		}
		.module-description{
			font-family: 'Nova';
			font-size: 1.2em;
			margin-top: 10px;
		}
		.module-view-wrapper{
			padding: 10px 20px;
			width: 80%;
			display: block;
			margin: 0 auto;
			cursor: pointer;
		}
		.locked{
			background: rgba(0, 0, 0, 0.21);
			cursor: not-allowed;
			.module-name, .module-index{
				color: #7c7c7c;
			}
		}
	// }
}
