<div class="grade" [ngStyle]="{'font-size': size, display: inline ? 'inline' : 'block'}" [ngClass]="{'locked': grade < 0}" *ngIf="show">
	<i class="fa fa-star" *ngIf="grade === 100"></i>
	<i class="fa fa-exclamation" *ngIf="grade < 70 && grade > 0"></i>
	<i class="fa fa-approved" *ngIf="grade > 70 && grade < 100"></i>
	<i class="fa fa-lock" *ngIf="grade < 0"></i>
</div>
