<div class="splash">
	<div class="row justify-content-center align-items-center">
		<div class="col-6 text-center">
			<img src="assets/images/logo.png" alt="" class="img-fluid animated zoomIn slow">
		</div>
	</div>
</div>
