.splash{
	background: #333;
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 0;
	&:before {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: -1;
		opacity: 0.4;
		background-image: url('/assets/images/patron.png');
		background-size: 50px;
		content: '';
		display: block;
	}
	.row{
		width: 100%;
		height: 100%;
		margin: 0;
	}
	.slow{
		animation-duration: 2s !important;
	}
}
