<div class="login row justify-content-center animated fadeIn">
	<div class="ccol-sm-12 col-xs-12 col-md-8 col-lg-8 col-xl-5">
		<img class="img-fluid" src="assets/images/logo.png" alt="">
		<form #form="ngForm" novalidate (ngSubmit)="login()" *ngIf="!forgotPass">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Correo electrónico" name="email" [(ngModel)]="user.username" required>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Contraseña" name="password" [(ngModel)]="user.password" required>
			</div>
			<button type="submit" class="btn btn-block btn-success" [disabled]="form.invalid">LOGIN</button>
		</form>

		<form #form="ngForm" novalidate (ngSubmit)="sendForgotPasswordMail()" *ngIf="forgotPass">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Correo electrónico para el cambio de contraseña" name="email" [(ngModel)]="forgotemail" required>
			</div>
			<button type="submit" class="btn btn-block btn-success" [disabled]="form.invalid">Cambiar contraseña</button>
			<button type="button" class="btn btn-block btn-success btn-link green" (click)="returnLogin()">Cancelar</button>
		</form>

		<button type="button" class="btn btn-block btn-success btn-link green mt-3" (click)="activateForgotPass()" *ngIf="!forgotPass">Olvidé mi contraseña</button>
	</div>
</div>
