@import "../../../variables";
.login{
	background: url($assets-path + 'images/login_bg.jpg');
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0;
	img.img-fluid{
		width: 90%;
		display: block;
		margin: 0 auto;
	}
	.green{
		color: #3cd760;
		font-weight: bold;
	}
}
