@import "../../../variables";
.home{
	width: 100%;
	height: 100vh;
	background-color: #222;
	position: relative;
	z-index: 0;
	margin: 0;
	overflow: hidden;
	&::before{
		position: absolute;
		height: 100%;
		width: 100;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: -1;
		opacity: 0.4;
		background-image: url($assets-path + 'images/patron.png');
		background-size: 50px;
		content: '';
		display: block;
	}
	&::after{
		position: absolute;
		height: 100%;
		width: 100%;
		top: 200px;
		right: 0px;
		z-index: -1;
		opacity: 0.65;
		background-image: url($assets-path + 'images/cerveza.png');
		background-position: top right;
		background-repeat: no-repeat;
		background-size: 1000px;
		content: '';
		display: block;
		animation-name: slideInRight;
		animation-duration: 1s;
		animation-fill-mode: both;
	}

}

// MEDIA QUERIES

// Phones, sm
@media screen and (min-width: 576px) {

}
// Tablets, md
@media screen and (min-width: 768px) {
	.home{
		&::after{
			background-size: 1700px;
			top: 100px;
		}
	}
}
// Laps, desks, lg
@media screen and (min-width: 992px) {
	.home{
		&::after{
			background-size: 2000px;
			top: 250px;
		}
	}
}
//Desktop, xl
@media screen and (min-width: 1200px) {
	.home{
		&::after{
			top: 100px;
			right: 0;
			background-size: 1800px;
		}
	}
}
