<div class="home row justify-content-center align-items-center">
	<user-menu [style]="2"></user-menu>
	<div class="col-sm-12 col-xs-12 col-md-6 col-lg-5 col-xl-4 animated fadeInDown">
		<block-name *ngFor="let block of blocks" [block]="block"></block-name>
		<button class="btn btn-success btn-block btn-lg btn-dm" (click)="goStartHere()">start here</button>
	</div>
</div>
