<section class="user-menu" [ngClass]="{'menu-opened': menuState}">
	<div class="wrapper" [ngClass]="{'style-white': style !== 1}">
		<div class="image-wrapper">
			<img [src]="profilePicUrl" alt="">
		</div>
		<div class="user-info-wrapper">
			<h4 class="user-name">{{user?.name + ' ' + user?.lastname}}</h4>
			<b class="user-status">{{user.diploma ? 'Draught Master' : 'trainee'}}</b>
		</div>
		<a class="menu-button" (click)="toggleMenu()"><i class="fa fa-bars"></i></a>
	</div>
	<ul class="menu" [ngClass]="{'closed': !menuState, 'opened': menuState}">
		<li *ngIf="!isChangingPass && !isChangingProfilePic">
			<a (click)="showProfilePicChange()">
				<i class="fa fa-fw fa-user"></i> Cambiar foto de perfil
			</a>
		</li>
		<li *ngIf="!isChangingPass && !isChangingProfilePic">
			<a (click)="showPasswordChange()">
				<i class="fa fa-fw fa-lock"></i> Cambiar contraseña
			</a>
		</li>
		<li *ngIf="!isChangingPass && !isChangingProfilePic">
			<a (click)="logout()">
				<i class="fa fa-fw fa-power-off"></i> Cerrar sesión
			</a>
		</li>
		<li *ngIf="isChangingPass">
			<form (ngSubmit)="changePassword()" #form="ngForm">
				<button type="button" class="btn btn-link btn-success" (click)="hidePasswordChange()"><i class="fa fa-arrow-left"></i> Regresar</button>
				<div class="form-group">
					<label for="">Contraseña actual</label>
					<input type="password" class="form-control" name="actual_pass" [(ngModel)]="password" [ngClass]="{'is-invalid': wrongActualPass}" required>
				</div>
				<div class="form-group">
					<label for="">Nueva contraseña</label>
					<input type="password" class="form-control" name="new_pass" [(ngModel)]="newPassword" [ngClass]="{'is-invalid': error === true && wrongActualPass !== true}" required>
				</div>
				<div class="form-group">
					<label class="form-control-label">Repetir contraseña</label>
					<input type="password" class="form-control" name="repeat_pass" [(ngModel)]="repeatPassword" [ngClass]="{'is-invalid': error === true && wrongActualPass !== true}" required>
					<div *ngIf="error" class="mt-2 invalid-feedback">{{message}}</div>
					<div *ngIf="changedPassword" class="mt-2 text-success">{{message}}</div>
				</div>
				<button type="submit" class="btn btn-success btn-block mt-2 oswald" [disabled]="form.invalid">Cambiar contraseña</button>
			</form>
		</li>
		<li *ngIf="isChangingProfilePic">
			<form #form="ngForm" (ngSubmit)="changeProfilePic()">
				<button type="button" class="btn btn-link btn-success" (click)="hideProfilePicChange()"><i class="fa fa-arrow-left"></i> Regresar</button>
				<div class="form-group">
					<label class="form-control-label">Sube una imágen</label>
					<input type="file" accept="image/*" (change)="changeListener($event)" class="hidden" #fileuploader>
					<button type="button" class="btn btn-success btn-block mt-2 oswald" (click)="focusFileUploader()">Elige una foto</button>
					<button type="submit" class="btn btn-success btn-block mt-2 oswald" [disabled]="!image"><i class="fa fa-circle-o-notch fa-spin" *ngIf="loading"></i> {{loading ? 'Cambiando foto...' : 'Cambiar foto'}}</button>
				</div>
			</form>
		</li>
	</ul>
</section>
