.user-menu{
	position: absolute;
	width: 300px;
	top: 0px;
	right: 0px;
	padding: 10px;
	// transition: all 0.2s ease-in-out;
	z-index: 2000;
	&.menu-opened{
		background: #fff;
		.wrapper{
			color: #484848 !important;
			.menu-button{
				color: #484848 !important;
			}
			.image-wrapper{
				img{
					display: block;
				}
			}
			.user-info-wrapper{
				display: inline-block;
			}
		}
	}
	.wrapper{
		position: relative;
		padding: 10px;
		.image-wrapper{
			display: none;
			width: 60px;
			height: 60px;
			overflow: hidden;
			border-radius: 50%;
			display: inline-block;
			vertical-align: middle;
			img{
				width: 100%;
				display: none;
			}
		}
		&.style-white{
			color: white;
			.menu-button{
				color:white;
			}
		}
		.user-info-wrapper{
			display: none;
			// display: inline-block;
			vertical-align: middle;
			padding-left: 5px;
			padding-top: 7px;
			.user-name{
				font-size: 18px;
				margin: 0;
			}
			.user-status{
				text-transform: uppercase;
				font-size: 14px;
			}
		}
		.menu-button{
			position: absolute;
			right: 15px;
			top: 15px;
			font-size: 28px;
			color: #484848;
			cursor: pointer;
			z-index: 2002;
		}
	}
	.menu{
		padding: 0;
		margin: 0;
		// transition: all 0.2s ease-in-out;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 2001;
		background: white;
		width: 300px;
		height: 100vh;
		margin-top: 100px;
		li{
			list-style: none;
			border-bottom: 1px solid #9e9087;
			padding: 0px 10px;
			&:last-child{
				border: none;
			}
			a{
				padding: 15px;
				width: 100%;
				display: block;
				cursor: pointer;
				&:hover{
					background: #ededed;
				}
			}
		}
		&.closed{
			display: none;
		}
		&.opened{
			display: block;
		}
	}
}
// MEDIA QUERIES

// Phones, sm
@media screen and (min-width: 576px) {

}
// Tablets, md
@media screen and (min-width: 768px) {

}
// Laps, desks, lg
@media screen and (min-width: 992px) {
	.user-menu{
		width: 500px;
		.menu{
			width: 500px;
		}
	}
}
//Desktop, xl
@media screen and (min-width: 1200px) {
	.user-menu{
		position: absolute;
		width: 300px;
		top: 25px;
		right: 10px;
		padding: 10px;
		background: none;
		z-index: 2000;
		// display: none;
		&.menu-opened{
			background: #fff;
			.wrapper{
				color: #484848 !important;
				.menu-button{
					color: #484848 !important;
				}
			}
		}
		.wrapper{
			border-bottom: 2px solid #998577;
			padding-bottom: 10px;
			position: relative;
			padding: 10px;
			display: block;
			.image-wrapper{
				width: 60px;
				height: 60px;
				overflow: hidden;
				border-radius: 50%;
				display: inline-block;
				vertical-align: middle;
				img{
					width: 100%;
					display: block;
				}
			}
			&.style-white{
				color: white;
				.menu-button{
					color:white;
				}
			}
			.user-info-wrapper{
				display: inline-block;
				vertical-align: middle;
				padding-left: 5px;
				padding-top: 7px;
				.user-name{
					font-size: 18px;
					margin: 0;
				}
				.user-status{
					text-transform: uppercase;
					font-size: 14px;
				}
			}
			.menu-button{
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate(-50%, -50%);
				font-size: 28px;
				color: #484848;
				cursor: pointer;
			}
		}
		.menu{
			padding: 0 !important;
			margin: 0 !important;
			position: relative !important;
			top: auto;
			right: auto;
			bottom: auto;
			z-index: 2001;
			background: white;
			width: 100%;
			height: auto;
			margin-top: 0px;
			li{
				list-style: none;
				border-bottom: 1px solid #9e9087;
				padding: 0;
				&:last-child{
					border: none;
				}
				a{
					padding: 15px;
					width: 100%;
					display: block;
					cursor: pointer;
					&:hover{
						background: #ededed;
					}
				}
			}
			&.closed{
				display: none;
			}
			&.opened{
				display: block;
			}
		}
	}
}
