<div class="exam" [ngClass]="{'complete': examComplete}">
	<div class="row justify-content-center">
		<user-menu [style]="examComplete ? 2:1"></user-menu>
		<div class="col-sm-12 col-xs-12 col-md-8 col-lg-8 col-xl-5">
			<dm-header [style]="examComplete ? 2 : 1" [title]="exam?.name" [(backArrow)]="!examComplete"></dm-header>
			<div *ngFor="let question of exam?.exam; let i = index" class="content">
				<div class="row" *ngIf="currentQuestion === i && !examSent">
					<div class="col-12">
						<div *ngIf="question.question.length < 200; then examTitle else examDesc"></div>
						<ng-template #examTitle>
							<div class="exam-title">
								{{question.question}}
							</div>
						</ng-template>
						<ng-template #examDesc>
							<div class="exam-description" [innerHTML]="question.question">
							</div>
						</ng-template>
						<div class="exam-separator"></div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6" *ngIf="question.exam_answer_type_id === 2 && question?.answer1">
						<button class="exam-answer-button" (mouseup)="answerQuestion(1, $event)">
							{{question?.answer1}}
						</button>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6" *ngIf="question.exam_answer_type_id === 2 && question?.answer2">
						<button class="exam-answer-button" (mouseup)="answerQuestion(2, $event)">
							{{question?.answer2}}
						</button>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6" *ngIf="question.exam_answer_type_id === 2 && question?.answer3">
						<button class="exam-answer-button" (mouseup)="answerQuestion(3, $event)">
							{{question?.answer3}}
						</button>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6" *ngIf="question.exam_answer_type_id === 2 && question?.answer4">
						<button class="exam-answer-button" (mouseup)="answerQuestion(4, $event)">
							{{question?.answer4}}
						</button>
					</div>
					<div class="col-xs-12 col-md-12 col-sm-12 text-center mb-4" *ngIf="question.exam_answer_type_id === 1">
						<textarea class="exam-textarea-field" placeholder="Escriba su respuesta aquí" [(ngModel)]="question.answer"></textarea>
						<button class="send-answer-button mt-3" (click)="finishExam()" [disabled]="!question.answer">Enviar</button>
					</div>
					<div class="col-xs-12 col-md-12 col-sm-12 text-center mb-4" *ngIf="question.exam_answer_type_id === 3">
						<div>
							<button class="send-answer-button mt-3" (click)="selectImage()">Elegir imágen</button>
							<input type="file" ng2FileSelect [uploader]="uploader" id="image" class="hidden" accept="image/*" #image>
						</div>
						<button class="send-answer-button mt-3" *ngIf="uploader?.queue.length > 0" (click)="saveImage()" [disabled]="loading"><i class="fa fa-circle-o-notch fa-fw fa-spin" *ngIf="loading"></i> {{loading ? 'Enviando...' : 'Enviar respuesta'}}</button>
					</div>
					<div class="col-xs-12 col-md-12 col-sm-12 text-center mb-4" *ngIf="question.exam_answer_type_id === 4">
						<div>
							<button class="send-answer-button mt-3" (click)="selectVideo()">Subir video</button>
							<button class="send-answer-button mt-3" (click)="otherWay()" *ngIf="uploader?.queue.length == 0">Enviaré por otro medio</button>
							<input type="file" ng2FileSelect [uploader]="uploader" id="video" class="hidden" accept="video/*" #video>
						</div>
						<button class="send-answer-button mt-3" *ngIf="uploader?.queue.length > 0" (click)="saveVideo()" [disabled]="loading"><i class="fa fa-circle-o-notch fa-fw fa-spin" *ngIf="loading"></i> {{loading ? 'Enviando...' : 'Guardar respuesta'}}</button>
					</div>
				</div>
			</div>
			<div class="row justify-content-center finish-screen" *ngIf="examComplete">
				<div class="col-12 align-self-center" *ngIf="!examSent">
					<button class="exam-finish-button" (click)="finishExam()">
						Terminar y Enviar
					</button>
				</div>
				<div class="col-12 text-center" *ngIf="examSent">
					<div *ngIf="grade || grade === 0">
						<h3 class="exam-finished-title">Calificación</h3>
						<grade [grade]="grade" [size]="'4em'"></grade>
						<div class="grade-info-square">
							Respuestas correctas: {{correctAnswers}} de {{exam?.exam.length}}
						</div>
						<div class="separator-down-green"></div>
						<div class="margin-50-separator"></div>
					</div>

					<div *ngIf="!(grade || grade === 0)">
						<h3 class="exam-finished-title">
							Respuesta enviada
						</h3>
						<p class="exam-finished-text">
							El resultado de tu Reto aparecerá en el menú de módulos MASTER THE TRAINING después de su revisión. Tu capacitador también podrá hacértela llegar por medio de una notificación.
						</p>
						<div class="margin-50-separator"></div>
					</div>
					<button class="next-module-button" (click)="nextModule()">Siguiente módulo</button>
				</div>
			</div>
		</div>
	</div>
</div>
