@import "../../../variables";
.exam {
	width: 100%;
	height: 100vh;
	background-color: #0da150;
	position: relative;
	z-index: 0;
	margin: 0;
	overflow: hidden;
	transition: all 0.2s ease-in;

	&::before {
		position: absolute;
		height: 100%;
		width: 100;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: -1;
		opacity: 0.6;
		background-size: 50px;
		background-image: url($assets-path + 'images/patron.png');
		content: '';
		display: block;
	}

	&::after {
		position: absolute;
		height: 100%;
		width: 100;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: -1;
		background-size: content;
		background-image: url($assets-path + 'images/hierba.png');
		background-position: bottom right;
		background-repeat: no-repeat;
		content: '';
		display: block;
		opacity: 0.5;
	}

	&.complete {
		background: #333;

		&::after {
			background-image: url($assets-path + 'images/perfect-serve.png');
			background-position: bottom right;
			height: calc(100% + 180px);
			top: 0px;
			right: -130px;
			background-size: 360px;
		}
	}

	.content{
		margin-top: 115px;
	}

	> .row {
		height: 100vh;
		overflow-y: auto;
	}

	.exam-title {
		height: auto;
		font-family: 'Nova';
		font-weight: bold;
		color: #444;
		text-align: left;
		padding: 20px 40px;
		font-size: 1.4em;
	}

	.exam-description {
		height: auto;
		font-family: 'Nova';
		font-weight: bold;
		color: #444;
		text-align: left;
		padding: 10px;
		font-size: 1.2em;
	}

	.exam-separator {
		height: 40px;
		width: 100%;
		background: url($assets-path + 'images/separador-cafe-arriba.png');
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		margin-bottom: 30px;
	}

	.exam-answer-button {
		font-family: 'Oswald';
		color: #e7ddbe;
		font-size: 1em;
		border: none;
		background: #333;
		padding: 10px;
		outline: none;
		width: 100%;
		cursor: pointer;
		transition: all 0.1s ease-in;
		display: block;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 20px;
		&:hover {
			background: #e7ddbe;
			color: #555;
		}
		&.correct{
			color: #555;
			background: #7fec71;
		}
		&.wrong{
			color: #e7ddbe;
			background: #c83d3d;
		}
	}

	.exam-finish-button {
		font-family: 'Oswald';
		color: #e7ddbe;
		font-size: 1.5em;
		border: none;
		background: #49423c;
		padding: 20px;
		outline: none;
		width: 80%;
		display: block;
		margin: 0 auto;
		cursor: pointer;
		transition: all 0.1s ease-in;
		margin-bottom: 20px;

		&:hover {
			background: #e7ddbe;
			color: #555;
		}
	}

	.finish-screen {
		height: 55vh;
	}

	.exam-textarea-field {
		width: 90%;
		display: block;
		margin: 0 auto;
		min-height: 200px;
		background: #49423c;
		color: #e7ddbe;
		font-family: 'Nova';
		border: none;
		resize: none;
		outline: none;
		padding: 10px;
		font-weight: 500;
		font-size: 1.1em;

		&::-webkit-input-placeholder {
			/* Chrome/Opera/Safari */
			color: rgba(231, 221, 190, 0.51);
		}

		&::-moz-placeholder {
			/* Firefox 19+ */
			color: rgba(231, 221, 190, 0.51);
		}

		&:-ms-input-placeholder {
			/* IE 10+ */
			color: rgba(231, 221, 190, 0.51);
		}

		&:-moz-placeholder {
			/* Firefox 18- */
			color: rgba(231, 221, 190, 0.51);
		}
	}

	.grade-info-square {
		background: #49423c;
		color: #e7ddbe;
		font-family: 'Nova';
		font-weight: bold;
		padding: 20px;
		font-size: 1.5em;
		width: auto;
		display: inline-block;
		margin: 0 auto 20px;
	}

	.exam-finished-title {
		color: rgba(231, 221, 190, 1);
		font-family: 'Oswald';
		font-size: 3.2em;
		text-align: center;
		margin-bottom: 50px;
	}

	.exam-finished-text {
		color: rgba(231, 221, 190, 1);
		font-family: 'Nova';
		font-size: 1.4em;
	}

	.separator-down-green {
		width: 100%;
		height: 40px;
		background-image: url($assets-path + 'images/separador-verde-abajo.png');
		background-repeat: no-repeat;
		background-size: contain;
	}

	.send-answer-button {
		border: none;
		outline: none;
		background: #49423c;
		color: #ecece0;
		padding: 10px 50px;
		font-family: 'Oswald';
		font-size: 1.4em;
		cursor: pointer;
		transition: all 0.2s ease-in-out;

		&:hover {
			background: darken(#49423c, 8%);
			color: #e0e0c8;
		}
		&[disabled] {
			opacity: 0.5;
			cursor: not-allowed;
			&:hover{
				background: #23b364;
				color: #ecece0;
			}
		}
	}

	.next-module-button {
		border: none;
		outline: none;
		background: #23b364;
		color: #ecece0;
		padding: 20px 60px;
		font-family: 'Oswald';
		font-size: 2em;
		cursor: pointer;
		transition: all 0.2s ease-in-out;

		&:hover {
			background: darken(#23b364, 8%);
			color: #e0e0c8;
		}
	}
}
// MEDIA QUERIES

// Phones, sm
@media screen and (min-width: 576px) {

}
// Tablets, md
@media screen and (min-width: 768px) {
	.exam{
		&.complete{
			&::after{
				background-position: bottom right;
				height: calc(100% + 180px);
				top: 271px;
				right: -218px;
				background-size: 700px;
			}
		}
	}
}
// Laps, desks, lg
@media screen and (min-width: 992px) {
	.exam{
		.exam-title {
			padding: 20px 40px;
			font-size: 2em;
		}
		.exam-answer-button {
			font-size: 1.5em;
			padding: 20px;
		}
		.exam-textarea-field {
			width: 100%;
			min-height: 200px;
			background: #49423c;
			color: #e7ddbe;
			font-family: 'Nova';
			border: none;
			resize: none;
			outline: none;
			padding: 10px;
			font-weight: 500;
			font-size: 1.1em;

			&::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				color: rgba(231, 221, 190, 0.51);
			}

			&::-moz-placeholder {
				/* Firefox 19+ */
				color: rgba(231, 221, 190, 0.51);
			}

			&:-ms-input-placeholder {
				/* IE 10+ */
				color: rgba(231, 221, 190, 0.51);
			}

			&:-moz-placeholder {
				/* Firefox 18- */
				color: rgba(231, 221, 190, 0.51);
			}
		}
		.exam-finish-button {
			width: 100%;
			display: block;
			margin: 0 auto;
			cursor: pointer;
			transition: all 0.1s ease-in;
			margin-bottom: 20px;
		}

		&.complete{
			&::after{
				background-position: bottom right;
				height: calc(100% + 180px);
				top: 100px;
				right: -170px;
				background-size: inherit;
			}
		}
	}
}
:host ::ng-deep .image-container{
	width: 80%;
	margin: 0 auto;
	img{
		width: 100%;
	}
}
//Desktop, xl
@media screen and (min-width: 1200px) {
	.exam{
		&.complete{
			&::after{
				top: 75px;
			    right: -155px;
			    background-size: 670px;
			}
		}
	}
}
