<div class="block">
	<div class="row justify-content-center">
		<user-menu></user-menu>
		<div class="col-sm-12 col-xs-12 col-md-8 col-lg-8 col-xl-5">
			<dm-header [style]="1" [title]="currentBlock?.name"></dm-header>
			<div class="content">
				<swiper #swiper>
					<div class="swiper-wrapper">
						<div class="swiper-slide" *ngFor="let chunk of modules;">
							<module-view *ngFor="let item of chunk" [data]="item"></module-view>
						</div>
					</div>
					<!-- Add Pagination -->
					<!-- <div class="swiper-pagination"></div> -->
					<!-- Add Arrows -->
				</swiper>
				<div class="swiper-button-next" (click)="swiper.swiper.slideNext()" *ngIf="modules.length > 1"></div>
				<div class="swiper-button-prev" (click)="swiper.swiper.slidePrev()" *ngIf="modules.length > 1"></div>
			</div>
		</div>
	</div>
</div>
