@import "../../../variables";
.block{
	width: 100%;
	height: 100vh;
	background-color: #ebeae6;
	position: relative;
	z-index: 0;
	margin: 0;
	overflow: hidden;
	&::before{
		position: absolute;
		height: 100%;
		width: 100;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: -1;
		opacity: 0.4;
		background-image: url($assets-path + 'images/patron.png');
		background-size: 50px;
		background-attachment: fixed;
		content: '';
		display: block;
	}
	.swiper-button-prev, .swiper-button-next {
		position: fixed;
		background: none !important;
		background-image: url($assets-path + "images/flecha-abajo.png") !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		width: 60px !important;
		height: 18.75px !important;
	}
	.swiper-button-prev{
		transform: rotate(90deg) !important;
		left: -10px;
	}
	.swiper-button-next{
		transform: rotate(-90deg) !important;
		right: -10px;
	}
	.row {
		height: 100vh;
		overflow-y: auto;
	}
	[class^="col-"] > .content{
		margin-top: 115px;
	}
}
@media screen and (min-width: 768px) {
	.block{
		.content{
			margin: 0;
		}
	}
}
@media screen and (min-width: 992px) {
	.block{
		.swiper-button-prev{
			position: absolute !important;
			transform: rotate(90deg) !important;
			left: -50px;
		}
		.swiper-button-next{
			position: absolute !important;
			transform: rotate(-90deg) !important;
			right: -50px;
		}
		[class^="col-"] > .content{
			margin-top: 0px;
		}
	}
}
