/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';

@font-face {
	font-family: 'Oswald';
	src: url('assets/fonts/oswald.ttf');
}
@font-face {
	font-family: 'Nova';
	src: url('assets/fonts/proxima_nova.otf');
}

body{
	background: #333;
}

.btn-dm{
	font-family: 'Oswald';
	text-transform: uppercase;
	font-size: 1.7em;
}
.overflow-y{
	overflow-y: auto;
}

@for $i from 1 through 5 {
	.margin-#{$i*10}-separator{
		margin-bottom: 10px * $i
	}
}
.oswald{
	font-family: 'Oswald';
}
.hidden{
	display: none;
}
