@import "../../../variables";
:host ::ng-deep .content {
	margin-top: 115px;
	img {
		width: 100%;
	}
	img.exception-image{
		width: 50%;
		display: block;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	.content-text {
		color: #34312d;
		font-family: 'Nova';
		text-align: center;
		// padding-top: 20px;
		// &.intro {
		// 	img {
		// 		width: 60%;
		// 		background: #444;
		// 		display: block;
		// 		margin: 0 auto;
		// 	}
		// }

		.text {
			margin-left: 20px;
			margin-right: 20px;
			padding-bottom: 10px;
			font-size: 1em;
			line-height: 1.362845;

			.title {
				text-transform: uppercase;
				font-weight: bold;
                font-size: 1.4em;
			}

			.content {
				margin: 0;
				font-size: 1em;
				line-height: 1.5;
			}
		}

		.image{
			img{
				height: auto;
			}
		}

		&.intro, &.evidence{
			color: #e7ddbe;
			.text{
				color: #e7ddbe;
				font-size: 1.2em;
			}
			.video{
				iframe{
					height: 43vh !important;
				}
			}
		}
		.button.button-balanced{
			font-family: 'Oswald';
			color: #e7ddbe;
			font-size: 1.6em;
			border: none;
			background: #333;
			padding: 6px 12px;
			outline: none;
			width: 100%;
			cursor: pointer;
			transition: all 0.1s ease-in;
			&:hover{
				background: #e7ddbe;
				color: #555;
			}
		}
	}

	.content-fact {

        .text {

            .fact {
                color: #3cbe61;
                text-transform: uppercase;
                text-decoration: underline;
                font-weight: bold;
                font-size: 1.4em;
                text-align: center;
            }

            .title {
                font-weight: bold;
                color: #3cbe61;
                font-size: 1.2em;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .content {
				color: #e7ddbe;
				font-family: 'Nova';
				text-align: center;
				font-size: 1.2em;
				padding: 0px 25px;
				margin: 0;
            }
        }

        .image > img {
            width: 100%;
        }
    }

	.content-video, .content-video-tip, .content-pdf, .content-text-pdf{
		.text {
			color: #e7ddbe;
			.title{
				text-align: center;
				font-family: 'Oswald';
				font-size: 1.4em;
				margin-bottom: 30px;
				// line-height: 120px;
			}
			.content {
				font-family: 'Nova';
				text-align: center;
				font-size: 1.2em;
				font-weight: bold;
				line-height: 1.6523174;
				margin-bottom: 50px;
				margin-top: 0;
			}

		}
		.video{
			iframe{
				height: 43vh !important;
			}
		}
	}

	.content-exam{
		.text {
			margin-bottom: 20px;
			.exam-title{
				font-family: 'Nova';
			    font-weight: bold;
			    color: #444;
			    text-align: center;
			    padding: 10px;
			    letter-spacing: 5px;
			    font-size: 2em;
			}
			.exam-separator{
				height: 40px;
				background: url($assets-path + 'images/separador-cafe-arriba.png');
				background-size: cover;
				background-position: center center;
			}
			.exam-description{
				font-family: 'Oswald';
				font-size: 1.2em;
				color: #444444;
				text-align: center;
				padding-left: 25px;
				padding-right: 25px;
			}
		}
		.button-begin-exam{
			padding: 12px 0px;
			button{
				font-family: 'Oswald';
				color: #e7ddbe;
				font-size: 1.6em;
				border: none;
				background: #333;
				padding: 6px 12px;
				outline: none;
				width: 100%;
				cursor: pointer;
				transition: all 0.1s ease-in;
				&:hover{
					background: #e7ddbe;
					color: #555;
				}
			}
		}
	}

	.text-bold{
		font-weight: bold;
	}
}
// MEDIA QUERIES

// Phones, sm
@media screen and (min-width: 576px) {

}
// Tablets, md
@media screen and (min-width: 768px) {
	:host ::ng-deep .content {
		margin-top: 0px;
		.content-text{
			.text{
				font-size: 1.2em;
				.title {
					font-size: 1.6em;
				    line-height: 1.366549;
				    margin-bottom: 10px;
				}

				.content {
					font-size: 1.2em;
					line-height: 1.5;
				}
			}
			&.intro{
				color: #e7ddbe;
				.text{
					color: #e7ddbe;
					font-size: 1.4em;
				}
			}
		}
		.content-video, .content-video-tip, .content-pdf{
			.text {
				.title{
					font-size: 1.8em;
				}
				.content {
					font-size: 1.2em;
					font-weight: bold;
					line-height: 1.6523174;
					margin-bottom: 50px;
				}

			}
			.video{
				iframe{
					height: 43vh !important;
				}
			}
		}
		.content-fact {

	        .text {

	            .fact {
	                font-size: 1.6em;
	                line-height: 1.5;
	            }

	            .title {
	                font-size: 1.4em;
	                margin-top: 10px;
	                margin-bottom: 10px;
	            }

	            .content {
					font-size: 1.4em;
	            }
	        }

	        .image > img {
	            width: 100%;
	        }
	    }
		.content-exam{
			.text {
				margin-bottom: 50px;
				.exam-title{
				    padding: 20px;
				    letter-spacing: 5px;
				    font-size: 4em;
				}
				.exam-separator{
					height: 40px;
				}
			}
			.exam-description{
				font-size: 1.3em;
			}
			.button-begin-exam{
				padding: 20px 0px;
				button{
					font-size: 2em;
					padding: 10px 20px;
					width: 100%;
				}
			}
		}
	}
}
// Laps, desks, lg
@media screen and (min-width: 992px) {
	:host ::ng-deep .content {
		.content-text{
			.text{
				font-size: 1.4em;
				.title {
					font-size: 1.6em;
				    line-height: 1.366549;
				    margin-bottom: 10px;
				}

				.content {
					font-size: 1em;
					line-height: 1.5;
				}
			}
			&.intro{
				color: #e7ddbe;
				.text{
					color: #e7ddbe;
					font-size: 1.4em;
				}
			}
		}
		.content-video, .content-video-tip, .content-pdf{
			.text {
				.title{
					font-size: 2.2em;
				}
				.content {
					font-size: 1.6em;
					margin-bottom: 50px;
				}

			}
			.video{
				iframe{
					height: 43vh !important;
				}
			}
		}
		.content-exam{
			.text {
				.exam-description{
					font-size: 1.6em;
				}
			}
			.button-begin-exam{
				padding: 20px 0px;
				button{
					font-size: 2em;
					padding: 10px 20px;
					width: 100%;
				}
			}
		}
	}
}
//Desktop, xl
@media screen and (min-width: 1200px) {
	.content-video, .content-video-tip, .content-pdf{
		.text {
			.title{
				line-height: 120px;
			}
		}
	}
}
